// container config
docker.enabled = true
charliecloud.enabled = true
process.container = 'rolvhdez/snipflow:v0.1'
docker.runOptions = '-u $(id -u):$(id -g)'  // optional: preserves user permissions

// parameters
params {
    baseline = null
    kinship = null
    genotype = null
    chr_range = "1-22"
    outDir = "./results"
}

// Processes should always fail if any pipe element has a non-zero exit code.
process.shell = ['/bin/bash', '-euo', 'pipefail']